<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="#"/>
    <link rel="stylesheet" type=text/css href="/static/css/search_css.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <title>Network Magpie</title>
</head>
<body id="main">
<! -- Search bar -->
  <div class="search-box">
    <button class="btn-search"><i class="fas fa-search"></i></button>
    <input type="text" class="input-search" placeholder="Type to Search...">
  </div>


<footer>
  <p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="#">MagPie</a>
    Follow me :
      <a target="_blank"  href="#"><i class="fab fa-instagram"></i></a>
    <a target="_blank"  href="#"><i class="fab fa-linkedin"></i></a>
    <a target="_blank" href="#"><i class="fab fa-codepen"></i></a>
        <a target="_blank" href="#"><i class="fab fa-dev"></i></a>
             <a target="_blank" href="#"><i class="fab fa-twitter-square"></i></a>
	</p>
</footer>

<! -- end config tabs -->
</body>
</html>